@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* yah humburgermenu ke liye hai ----------->>>>>>>>>>>>>>>>>>>>>>>>> */
.humburgermenu ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 3px rgb(0 0 0 / 0.07);
}
.humburgermenu {
  position: absolute;
  top: 60px;
  animation-name: menubar;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes menubar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<------------------------- */

/* this is for that home tringle design */
.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 0;
  max-width: 100%;
  clip-path: polygon(100% 100%, 100% 60%, 0 100%);
}

/* yah loading ke liye hai */
.loader {
  animation: loading 800ms linear infinite;
}

@keyframes loading {
  to {
    transform: rotateZ(-360deg);
  }
}
