@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* yah humburgermenu ke liye hai ----------->>>>>>>>>>>>>>>>>>>>>>>>> */
.humburgermenu ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 3px rgb(0 0 0 / 0.07);
}
.humburgermenu {
  position: absolute;
  top: 60px;
  animation-name: menubar;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
}

@keyframes menubar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* <<<<<<<<<<<<<<<<<<<<<<<<<<------------------------- */

/* this is for that home tringle design */
.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: white;
  position: absolute;
  top: 60px;
  left: 0;
  max-width: 100%;
  clip-path: polygon(100% 100%, 100% 60%, 0 100%);
}

/* yah loading ke liye hai */
.loader {
  animation: loading 800ms linear infinite;
}

@keyframes loading {
  to {
    transform: rotateZ(-360deg);
  }
}



/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION START */
.productCarousel.carousel-root {
  display: flex;
  flex-direction: row-reverse;
  gap: 15px;
}
.productCarousel.carousel-root .carousel {
  width: auto;
}
.productCarousel.carousel-root .carousel.carousel-slider {
  width: 100%;
}
.productCarousel.carousel-root .carousel.carousel-slider .slider-wrapper {
  border-radius: 10px;
}
.productCarousel.carousel-root .carousel .thumbs-wrapper {
  margin: 0;
}
.productCarousel.carousel-root .carousel .thumb {
  height: 60px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.productCarousel.carousel-root .carousel .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.productCarousel.carousel-root .carousel .thumb:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0;
}
.productCarousel.carousel-root .carousel .thumb.selected,
.productCarousel.carousel-root .carousel .thumb:hover {
  border: 0;
}
.productCarousel.carousel-root .carousel .thumb:hover:after,
.productCarousel.carousel-root .carousel .thumb.selected:after {
  opacity: 0.2;
}
.productCarousel .control-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .productCarousel.carousel-root {
      flex-direction: column;
  }
  .productCarousel.carousel-root .carousel .thumb {
      border: 0;
      padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .productCarousel.carousel-root .carousel .thumbs {
      transform: none !important;
      flex-direction: column;
      display: flex;
      gap: 10px;
  }
  .productCarousel.carousel-root .carousel .thumb {
      border: 0;
      padding: 0;
      margin: 0;
  }
}
/* PRODUCT DETAILS CAROUSEL STYLING CUSTOMIZATION END */



/* this for pagination */
.pagination{
  display: flex;
  justify-content: center;
  padding: 0;
}
.page-item{
  background-color: #fff;
  border: 1px solid #000;
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.page-item:first-child{
  border-radius: 5px 0 0 5px;
}
.page-item:last-child{
  border-radius: 0 5px 5px 0;
}
.page-link{
  font: 300 1vmax "Roboto";
  color: rgb(80,80,80);
  transition: all 0.3s;
}

.page-item:hover{
  background-color: rgb(230,230,230);
}
.page-item:hover .page-link{
  color: rgb(0,0,0);
}

.pageItemActive{
  background-color: #3c0979;
}
.pageLinkActive{
  color: #fff;
}